/* Name: Drey V. | File Name:styles.css | Date: 9/26/2023 --> */
/* Put reset rule here? */

/* ROOT */

:root {
    --global-color-1: #952ba8;
    
    --link-color:rgb(59, 147, 255);
    --link-color-hover:rgb(0, 39, 234);
}

/* RESET STYLE */

body, header, nav, footer, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* APPLY BOX-SIZING TO ALL ELEMENTS */

* {
    box-sizing: border-box;
}

/* MOBILE STYLING */ 

header {
    position: -webkit-sticky;
    position: sticky;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .5);
    top: 0;
    background:rgb(244, 244, 244);
}

/* BODY STYLING */

body {
    background:rgb(244, 244, 244);
    margin:0px;
    font-family: Arial, Verdana, sans-serif;
}

img {
    max-width:100%;
    display:block;
    margin-bottom:1em;
    margin-top: 1em;
}

.rounded {
    border-radius:1em;
    margin-left:auto;
    margin-right:auto;
}

img.img-center {
    margin-left:auto;
    margin-right:auto;
}

/* HEADER */

.header-brand {
    font-size: 2.75em;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}

.header-brand-subtitle {
    display: block;
    font-size:.75em;
    letter-spacing: 1px;
    color:rgb(17, 8, 36);
}

/* NAV STYLING */

nav {
    background:black;
    width:100%;
}

ul.top-nav-list {
    list-style-type: none;
    padding:1.1em;
    margin:0px;
}

nav ul li {
    font-size: 18px;
    text-align: center;
    border-top: solid 2.5px rgb(33, 33, 37);

    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

nav ul li:first-child {
    border-top:none;
}

nav ul li a {
    color:white;
}

nav ul li a:hover {
    color:rgb(59, 147, 255);
}

/* LINK STYLING */

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

/* FIGURE STYLING */

figure {
    margin-bottom: 1em;
}

figcaption {
    color:rgb(51, 51, 51);
    font-size: .9em;
    font-style: italic;
}

/* GRID STYLING */

 .frame {
    position: relative;
    max-width: 440px;
    margin: 2% auto;
 }

 .image-text {
    position:absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color:white;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size:1.5em;
    font-weight:bold;
 }

 /* DESCRIPTION LIST STYLING */

dt {
    font-weight: bold;
    margin-bottom: 0.2em;
 }

 dd {
    font-style: italic;
    margin-bottom:1em;
 }

/* MAIN STYLING */

#main-image {
    background-size:contain;
    background-attachment: fixed;
    background-image:url(https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80); 
    height:400px
}

.content-section {
    padding:1em;
}

h1 {
    text-align:center!important;
}

.contact-map {
    width:auto;
    height: 450px;
}

/* FOOTER STYLING */
footer {
    width: 100% !important;
}

.footer-style {
    padding:2em;
    color:white;
    line-height:1.7em;
    font-size:15px;
}

/* Displays mobile content by default, hides tablet/desktop-only content */

.tablet-desktop {
    display:none;
}

.mobile {
    display:block;
}

/* Tablet Viewport */
@media screen and (min-width: 630px) {

    /* ANIMATED TRANSITIONS */
    a, img, div, figure, figcaption {
        transition-duration: 0.4s;
    }
    
    /* HEADER STYLING (Tablet) */
    header {
        position: -webkit-static;
        position: static;
        text-align:center;
        box-shadow: none;
    }

    /* Displays tablet and desktop elements */
    .tablet-desktop {
        display:block;
    }

    /* Hides mobile elements */
    .mobile {
        display:none;
    }

    /* Displays the navigation horizontally; adds a border to the right of each nav option except the last to create separation */
    nav ul li {
        display: inline-block;
        border-top:none;
        border-right: 2.5px solid rgb(33, 33, 37);
    }

    nav ul li:last-child {
        border-right:none;
    }

    /* Styling the grid for tablet display */
    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
     }

    /* Styling tables for tablet */

    table {
        border-collapse: collapse;
        margin-top:1.5em;
        margin-bottom:1.5em;
    }

    caption, th, td {
        padding:1em;
    }

    caption {
        font-style: italic;
        font-size:15px;
    }

    tr:nth-child(even) {
        background-color: #d5d5d7;
    }

    th, td {
        border: 0.1em solid #000;
    }

    th {
        background-color:black;
        color:white;
    }

    /* Reduces the height of the main image as not to take up so much of the tablet screen */
    #main-image {
        height:150px;
        background-size:cover;
        background-position:center right;
    }


    /* Adding auto-resizing (responsiveness) to the map in the Contact page  */
    .contact-map {
        width:60%;
    }

}

/* Desktop Viewport */
@media screen and (min-width:769px) {
    
    /* Making the header static, float left next to nav (30%), making bg transparent and aligning the text to the left */
    header {
        position: -webkit-static;
        position: static;
        text-align:left;

        padding-bottom: 0;
        width:30%;
        float:left;

        background:transparent;
        color:white;
    }

    /* Floats the navigation to the right, adjusts it to fit to the header (70%), adds padding and makes background transparent */
    nav {
        float: right;
        width: 70%;
        padding-top: 2.85em;
        padding-bottom: 2.85em;
        background:transparent;
    }

    ul.top-nav-list {
        padding:0;
    }

    /* Adjusts the color/sizes of header type... this would probably work better as an image */

    .header-brand {
        font-size: 2.3em;
    }

    .header-brand-subtitle {
        font-size: .9em;
    }

    .header-brand span:first-child, .header-brand-subtitle {
        color:white!important;
    }

    /* Aligns the navigation elements right */
    nav ul {
        text-align: right;
    }

    /* Removes all borders from the main navigation */
    nav ul li {
        border:none;
    }

    /* Creates more interactivity with frames... lower opacity when not hovering, shadow and 100% opacity when hovering */
    .frame {
        opacity: 0.9;
    }

    .frame:hover {
        opacity: 1;
        box-shadow: 8px 8px 10px #808080;
    }

    /* Increases the height of the main image and adds black border to top */
    #main-image {
        height:500px;
        border-top: solid black 135px;
    }

    /* Contact */
    .contact-map {
        width: 600px;
    }
}