/* Name: Drey V. | File Name:styles.css | Date: 9/26/2023 --> */
/* Put reset rule here? */

:root {
    --global-color-1: #952ba8;
    
    --link-color:rgb(59, 147, 255);
    --link-color-hover:rgb(0, 39, 234);
}


body {
    background:rgb(235, 235, 235);
    margin:0px;
    font-family: Arial, Verdana, sans-serif;
}

a, img, div {
    transition-duration: 0.4s;
}

img {
    max-width:100%;
    display:block;
}

nav {
    background:black;
    width:100%;
}

ul.top-nav-list {
    list-style-type: none;
    padding:2em;
}

nav ul li {
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

nav ul li a {
    color:white;
}

nav ul li a:hover {
    color:rgb(59, 147, 255);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

.content-section {
    padding:1em;
}

footer {
    width: 100% !important;
}